<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    <link rel="stylesheet" href="Std.css">
    
    <style>
        /* Additional CSS styles specific to this page */
    </style>
</head>
<body>
    <h1>Student Login</h1>
    <form id="student-login-form">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="student-id">Student ID:</label><br>
        <input type="text" id="student-id" name="student-id"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <a href="../Dashboards/stdDashboard.html" id="login">Log in</a><br><br> <br>
      <!-- <input type="submit" value="Login"> -->
        <!-- <a href="SignIn.html" id="signup">Haven't you registered yet? Sign up </a> -->
        <p class="message">Have not registered yet? <a href="SignIn.html" id="signup">Sign up</a></p>
        
    </form>

    <script src="script.js"></script>
    <script>
     
    </script>
</body>
</html>
